.App{
    font-family: 'Nunito', sans-serif;
    background-color: #EFB0B7;
    min-height: 100vh;
}

.Main{
    padding-top: 81px;
}

a {
    color: #000000;
    transition: color ease-in-out 0.3s;
    text-decoration: none;
}

a:hover {
    color: #EFB0B7;
    transition: color ease-in-out 0.3s;
}

h1, h2, h3, h4, h5{
    font-family: 'Expletus Sans', cursive;
}